.form-inline .form-control { 
    display: inline-block !important; 
    width: auto!important;
    vertical-align: middle;
}

.container { padding-top: 10px; }

@font-face {
    font-family: 'CrimsonText-Bold';
    src: local('CrimsonText-Bold'),
         url('../static/fonts/CrimsonText-Bold.ttf') format("truetype");
  }

  @font-face {
    font-family: 'CrimsonText-Regular';
    src: local('CrimsonText-Regular'),
         url('../static/fonts/CrimsonText-Regular.ttf') format("truetype");
  }