{% extends 'Quiz/base.html' %}

{% block content %}
    <h2 class="my-3" style=" font-family: 'CrimsonText-Bold'; text-align: center; font-size: 30px">Select Album</h2>
    {% if empty %}
        <p style="font-family: 'CrimsonText-Regular';text-align: center;">No Albums found.</p>
    {% endif%}
    <div class="row">
        {% for album in albums %}
            <div class="card-columns mx-auto d-flex justify-content-center ">   
                <div class="card text-white  mb-3 mx-1" style="width: 12rem; border-color: #ff9800;">
                    <div class="card-body">
                        <form  action="quiz" >
                            <input type="hidden" name="album_id" value="{{ album.album_id }}" >
                            <button class="btn btn-primary stretched-link" style="font-family: 'CrimsonText-Bold'; font-size:larger;  line-height:80%; width: 100%; outline: 0; border: none; background-color: transparent; color:whitesmoke" type="submit">{{ album.title }}</button>
                        </form>
                        <p id="description" class="card-text" style="font-family: 'CrimsonText-Regular'; color:salmon; text-align: center; ">{{ album.artist | add:album.type | add:album.date  }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row my-4">
        <div class="col-md-12 mx-auto">
            <p class="mb-1" style="font-family: 'CrimsonText-Regular';text-align: center; line-height:94%;">Can't find what you are looking for?<br>Find it on musicbrainz.org and then paste the release or release group URL here:</p>
            <div class="col-md-6 div-wrapper mx-auto d-flex justify-content-center align-items-center">
                <form class="form-inline mx-0" action="quiz" style='display:inline-block;text-align: center'>
                    <input class="form-control"style="height:30px; display:inline-block" type="search" placeholder="Enter URL or ID" aria-label="Search" name="album_id">
                    <button class="btn btn-outline-warning my-2 my-sm-0 mx-0 inline" style="height:30px; display:inline-block; padding:0px 5px"type="submit">Go</button>
                </form>
            </div>
        </div>
    </div>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/cards.css' %}">
{% endblock %}

{% block extra_head %}
    <meta name="title" content="The Tracklist Challenge">

    <meta property="og:title" content="The Tracklist Challenge">
    <meta property="og:image" content="{% static 'Tracklist Challenge Logo.jpg' %}"/>
    <meta property="og:description" content="How many tracks from {{ searchString }}'s Albums can you name?">
    <meta name="description" content="How many tracks from {{ searchString }}'s Albums can you name?">

    <!-- <meta property="og:image" content="{{ cover }}"/> -->
    <title>The Tracklist Challenge</title>
{% endblock %}