{% extends 'Quiz/base.html' %}

{% block content %}
    <h2 class="my-3" style="  text-align: center; font-family: 'CrimsonText-Bold';font-size: 30px">Select Artist</h2>
    <div class="row">
        {% for artist in artists %}
            <div class="card-columns mx-auto d-flex justify-content-center ">   
                <div class="card text-white  mb-3 mx-1" style="width: 12rem; border-color: #ff9800;">
                    <div class="card-body">
                        <form  action="artist" >
                            <input type="hidden" name="artist_query" value="{{ artist.artist_id }}" >
                            <button class="btn btn-primary stretched-link" style="font-family: 'CrimsonText-Bold'; font-size:larger;  line-height:80%; width: 100%; outline: 0; border: none; background-color: transparent; color:whitesmoke" type="submit">{{ artist.name }}</button>
                        </form>
                        <p class="card-text" style="font-family: 'CrimsonText-Regular'; color:salmon; text-align: center; font-size: small;">{{ artist.type | add:artist.area }}</p>
                     </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/cards.css' %}">
{% endblock %}

{% block extra_head %}
    <meta name="title" content="The Tracklist Challenge">

    <meta property="og:title" content="The Tracklist Challenge">
    <meta property="og:image" content="{% static 'Tracklist Challenge Logo.jpg' %}"/>
    <meta property="og:description" content="How many tracks from {{ searchString }}'s Albums can you name?">
    <meta name="description" content="How many tracks from {{ searchString }}'s Albums can you name?">

    <!-- <meta property="og:image" content="{{ cover }}"/> -->
    <title>The Tracklist Challenge</title>
{% endblock %}